---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

# Layout & Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

# Braces & Control Flow
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

# C Pointers & Types
PointerAlignment: Right
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements

# Structs & Enums
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
...
